<!-- Tricks -->
<h1><%= __('Tricks') %></h1>

<table class="pure-table">
<thead>
    <tr>
    <% _.each([ i18n("user"), i18n("trick"), i18n("spot") ], function(th) { %>
        <th><%= th %></th>
    <% }); %>
    </tr>
</thead>
<tbody>
    <% _.each(tricks, function(trick) { %>
    <tr>
        <td><%= trick.user %></td>
        <td><%= trick.name %></td>
        <td><%= trick.spot %></td>
    </tr>
    <% }); %>
</tbody>
</table>

<%- partial ("./nav/_nav") %>
