<!-- trick -->
<h1><%= __('Tricks') %></h1>

<% if(res.added) { %>
    <h2><%= i18n("trick added") %></h2>
<% } %>

<table class="pure-table">

<% var cols = [ "name", "components", "alias" ]; %>
<thead>
    <tr>
    <% _.each(cols, function(col) { %>
        <th><%= col %></th>
    <% }); %>
        <th><%= i18n("edit") %></th>
    </tr>
</thead>

<tbody>

<% _.each(res.tricks, function(trick) { %>
    <tr>
    <% _.each(cols, function(col) { %>
        <td><%= trick[col] %></td>
    <% }); %>
        <td><a href="/tricks/edit/<%= trick.id %>"><%= i18n("edit") %></td>
    </tr>
<% }); %>

</tbody>

</table>
